body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    min-width: 1250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    height: 810px;
    width: 1250px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
    font-size: 40px;
    font-weight: 600;
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    padding-bottom: 20px;
    overflow: hidden;
}

.black-square {
    background-color: black;
}

.white-square {
    background-color: white;
}

.row {
    display: flex;
    width: 800px;
}

#board {
    border: solid black 5px;
}

.score,
.options {
    width: 210px;
    height: 600px;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score {
    align-items: flex-start;

}

h2 {
    font-size: 18px;
    font-weight: 650;
}

h3 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
}

.options {
    align-items: center;
}

.options > div {
    align-self: flex-start;
    margin-left: 40px;
}

.options > h2 {
    margin: 20px 0 5px 0;
}

h1 {
    font-size: 28px;
    font-weight: 550;
    align-self: center;
    margin: 25px 0;
}

button {
    background-color: rgb(255, 243, 133);
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    width: 150px;
    margin: 20px;
    border-radius: 25px;
    border: solid rgb(151, 151, 151) 2px;
    box-shadow: rgb(83, 83, 83) 2px 2px 3px;
    cursor: pointer;
}

/* Make button look pressed on click. */

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

/* Remove blue box after button press */
button:focus {
    outline: 0;
}